<a href="https://colab.research.google.com/github/VengammaV/Personal-Expenses/blob/main/Personal_Expense.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Libraries and Generating a Fake Expense Data using Jupyter Notebook:

In [ ]:
from faker import Faker
import random
import pandas as pd
import datetime
fake = Faker()
categories = ["Groceries", "Investement", "Bill", "Stationary","Subscription","Vacation","Festival","Function"]
payment_modes = ["UPI","OnlineDC","OnlineCC","Netbanking","Cash"]
bills = ["Water bill","Electricity bill","Wifi Bill","Gas bill"]
subscription = ["Audible","Prime","NetFlix"]

def gen_data(num_entries):
    data = []
    start_date = datetime.date(2024, 1, 1)
    end_date = datetime.date(2024, 12, 31)
    for _ in range(num_entries):
        exp = {
            "Date": fake.date_between(start_date = start_date, end_date= end_date ),
            "Category": random.choice(categories),
            "Payment_Mode": random.choice(payment_modes),
            "Description": fake.sentence(),
            "Amount": round(random.uniform(10,1000), 2),
            "Cashback": round(random.uniform(0,0),2)
        }
        data.append(exp)
    return pd.DataFrame(data)

expense = gen_data(1250)

Connect to MySQL and Create Database - Expense_Database and Table - Expense.

In [ ]:
import mysql.connector
from getpass import getpass # helps to securely transfer password
from mysql.connector import connect, Error
try:
    with connect(
        host = "localhost",
        user = input("Enter username"),         # root
        password = getpass("Enter password: "), # get the encrypted password
    ) as connection:
        print(connection)
except Error as e:
    print(e)

create_new_db = "CREATE DATABASE IF NOT EXISTS EXPENSE_DATABASE"
with connection.cursor() as cursor:
    cursor.execute(create_new_db)

select_database_query = "USE expense_database"
with connection.cursor() as cursor:
    cursor.execute(select_database_query)
create_new_table = """
CREATE TABLE Expense(
    tId INT AUTO_INCREMENT PRIMARY KEY,
    Date DATE,
    Category VARCHAR(100),
    Payment_Mode VARCHAR(100),
    Description VARCHAR(100),
    Amount FLOAT,
    Cashback FLOAT
    )
"""
with connection.cursor() as cursor:
    cursor.execute(create_new_table)

Import Data from Python Dataframe to (MySQL)Expense Table

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine("mysql+mysqlconnector://root:123456789@localhost/expense_database")
expense.to_sql('expense', con=engine, if_exists='append', index=False)

Use UPDATE SQL Query to update the Cashback Column in the Expense Table

In [ ]:
update_query = \
"""
UPDATE expense
SET Cashback = 10.0
WHERE Payment_Mode = "UPI"

"""

with connection.cursor() as cursor:
    cursor.execute(update_query)
    connection.commit()
    cursor.execute("SELECT * FROM expense") # see the updated table
    for row in cursor.fetchall():
        print(row)

Install Streamlit App and Generate SQL Queries to develop an insight On Personal Expenses - Using VSCODE

In [ ]:
import streamlit as st
import pandas
import pymysql

st.title("Expense Tracker")
st.subheader("Personal Expense Tracker is a project to analyse the expenses made by a person. Provide expenses based on various criteria to help understand the Finance Management in a better manner.")

mydb = pymysql.connect(
        host = "localhost",
        user = "root",
        password = "123456789",
        database= "expense_database",
        autocommit = True)
mycursor = mydb.cursor()

option = st.selectbox(
    "Select the Analysis that you would like to perform from Expense Data",
    ("The Total amount invested during the year", "The Total Cashback recieved for the year",
     "Amount spent in Vacations using Credit Card",
    "No. of transactions using UPI payment mode across different categories", "Total Amount Spent across different categories using Credit Card",
    "The amount spent across different Categories", "Month wise expense across all categories", "Month wise expense on groceries",
    "The highest amount on a single transaction during the year", "Total expenses of the year", "Expense incurred in the month of Jan",
     "Month wise expense on bill", "Month wise expense on Stationary", "Month wise cashback Amount",
     "No. of Transactions on different Payment Mode", "No. of transactions using different payment modes across all categories"
     ),
)

st.write("You selected:", option)

if option == "The Total amount invested during the year":
    sql = "SELECT SUM(Amount) As A FROM expense WHERE Category = 'Investement'"
elif option == "The Total Cashback recieved for the year":
    sql = "SELECT SUM(Cashback) FROM expense"
elif option == "Amount spent in Vacations using Credit Card":
    sql = "SELECT SUM(Amount) FROM expense where category = 'Vacation' AND Payment_Mode = 'OnlineCC' "
elif option == "No. of transactions using UPI payment mode across different categories":
    sql = "SELECT Category, COUNT(*) FROM expense WHERE Payment_Mode ='UPI' GROUP BY Category"
elif option == "Total Amount Spent across different categories using Credit Card":
    sql = "SELECT Category, SUM(Amount) FROM expense where Payment_Mode = 'OnlineCC' GROUP BY Category"
elif option == "The amount spent across different Categories":
    sql = "SELECT Category, SUM(Amount) FROM expense GROUP BY Category"
elif option == "Month wise expense on groceries":
    sql = "SELECT SUM(Amount), MONTH(Date) from expense where category = 'Groceries' GROUP BY MONTH(Date)"
elif option == "Month wise expense across all categories":
    sql = " SELECT SUM(Amount), MONTH(Date) from expense GROUP BY MONTH(Date)"
elif option == "The highest amount on a single transaction during the year":
    sql = " SELECT Category, max(Amount) from expense GROUP BY Category"
elif option == "Total expenses of the year":
    sql = " SELECT SUM(Amount) from expense"
elif option == "Expense incurred in the month of Jan":
    sql = "SELECT SUM(Amount) from expense WHERE MONTH(Date) = 1 "
elif option == "Month wise expense on bill":
    sql = "SELECT SUM(Amount), MONTH(Date) from expense where category = 'Bill' GROUP BY MONTH(Date)"
elif option == "Month wise expense on Stationary":
    sql = "SELECT SUM(Amount), MONTH(Date) from expense where category = 'Stationary' GROUP BY MONTH(Date)"
elif option == "Month wise cashback Amount":
    sql = "SELECT MONTH(Date), SUM(Cashback) from expense GROUP BY MONTH(Date)"
elif option == "No. of Transactions on different Payment Mode":
    sql = "SELECT Payment_mode, COUNT(*) from expense GROUP BY Payment_Mode"
elif option == "No. of transactions using different payment modes across all categories":
    sql = "SELECT Category, Payment_Mode , COUNT(*)  FROM expense_database.expense GROUP BY Category, Payment_Mode"


with mydb.cursor() as mycursor:
    mycursor.execute(sql)
    result = mycursor.fetchall()
st.dataframe(result)