In [1]:
import pandas as pd
import datetime
from faker import Faker
import random
fake = Faker()
categories = ["Groceries", "Investement", "Bill", "Stationary","Subscription","Vacation","Festival","Function"]
payment_modes = ["UPI","OnlineDC","OnlineCC","Netbanking","Cash"]
bills = ["Water bill","Electricity bill","Wifi Bill","Gas bill"]
subscription = ["Audible","Prime","NetFlix"]
def gen_data(num_entries):
    data = []
    start_date = datetime.date(2024, 1, 1)
    end_date = datetime.date(2024, 12, 31)
    for _ in range(num_entries):
        exp = {
            "Date": fake.date_between(start_date = start_date, end_date= end_date ),
            "Category": random.choice(categories),
            "Payment_Mode": random.choice(payment_modes),
            "Description": fake.sentence(),    
            "Amount": round(random.uniform(10,1000), 2),
            "Cashback": round(random.uniform(0,0),2)
        } 
        data.append(exp)
    return pd.DataFrame(data)
expense = gen_data(1250)

In [2]:
expense

,Date,Category,Payment_Mode,Description,Amount,Cashback
0,2024-09-10,Stationary,UPI,Campaign hit step.,430.21,0.0
1,2024-10-02,Vacation,OnlineDC,Girl field though step participant specific we...,617.47,0.0
2,2024-12-24,Subscription,OnlineCC,Almost middle common enough show attack.,761.59,0.0
3,2024-03-25,Groceries,OnlineCC,Through task character boy mean explain.,552.67,0.0
4,2024-10-19,Festival,UPI,Side me cause teacher plant method rather.,335.66,0.0
...,...,...,...,...,...,...
1245,2024-02-26,Groceries,Cash,Election character anyone might collection nev...,941.78,0.0
1246,2024-02-23,Investement,OnlineCC,Professional wish collection feel scene struct...,301.27,0.0
1247,2024-08-14,Function,OnlineCC,Democrat hour offer drug away.,397.48,0.0
1248,2024-01-27,Function,OnlineDC,Voice great guy.,559.29,0.0
1249,2024-07-17,Function,Cash,In upon bar cut hard since.,423.88,0.0

In [4]:
import mysql.connector
from getpass import getpass # helps to securely transfer password
from mysql.connector import connect, Error
try:
    with connect(
        host = "localhost",
        user = input("Enter username"),         # root
        password = getpass("Enter password: "), # get the encrypted password
    ) as connection:
        print(connection)
except Error as e:
    print(e)

Enter username root
Enter password:  ········

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001FA296DDA10>

In [ ]:
create_new_db = "CREATE DATABASE IF NOT EXISTS EXPENSE_DATABASE"

with connection.cursor() as cursor:
    cursor.execute(create_new_db)

In [ ]:
select_database_query = "USE expense_database"

with connection.cursor() as cursor:
    cursor.execute(select_database_query)
    
create_new_table = """
CREATE TABLE Expense(
    tId INT AUTO_INCREMENT PRIMARY KEY,
    Date DATE,
    Category VARCHAR(100),
    Payment_Mode VARCHAR(100),
    Description VARCHAR(100),
    Amount FLOAT,
    Cashback FLOAT
    )
"""
with connection.cursor() as cursor:
    cursor.execute(create_new_table)

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine("mysql+mysqlconnector://root:123456789@localhost/expense_database")

In [ ]:
expense.to_sql('expense', con=engine, if_exists='append', index=False)

In [ ]:
update_query = \
"""
UPDATE expense
SET Cashback = 10.0
WHERE Payment_Mode = "UPI"

"""

with connection.cursor() as cursor:
    cursor.execute(update_query)
    connection.commit()